
<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
  <h1 class="mt-4">Welcome</h1>

  <div class="w-full mt-4 ">
    <h1 class="mt-4 text-4xl font-extrabold">All blogs</h1>
    <% if (blogs.length > 0) {%>
        <% blogs.forEach(blog => { %>
      <a href="/blogs/<%=blog._id%>">
      <h3 class="mt-4 mb-4 text-2xl font-bold" ><%= blog.title%></h3>
      </a>
<p><%= blog.snippet%></p>

        <% }) %>
    <% } else {%>
    <p>No Blogs</p>
    <% }%>
  </div>
<%- include('./partials/footer.ejs') %>